<h1 class="center">Dashboard</h1>

{{#each posts as |post|}}
<div class="row">
    <div class="col s12">
      <div class="card customCard">
        <div class="card-content white-text">
          <span class="card-title cardTitle">{{post.title}}  
            <form action="/dashboard/edit/{{post.id}}">
              <button>Edit</button>
            </form> 
          </span>
          <p>{{post.content}}</p>
        </div>
        <div class="card-content">
          {{#each post.comments as |comment|}}
          <p>{{comment.content}}</p>
          {{/each}}
        </div>
      </div>
    </div>
  </div>
{{/each}}