<div class="editCommentForm">
    <label for="editComment">Edit Comment</label>
    <textarea id="editComment" class="materialize-textarea whiteText">{{editComment.content}}</textarea>
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>

  <script src="/js/edit-comment.js"></script>