<h1 class="center">Welcome to Tiny Tech Talk!</h1>

<p class="homeText">This is a judgement free tech blog where you can come to post your opinions, achievements, or ask for help!</p>

<p class="homeText">New here? Go ahead and click the sign up button located in the top right to join our community! After that, you'll be able to navigate to the dashboard to view posts, and be able to make new posts and leave comments! We're glad to have you here!</p>