p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    color: rgb(233, 231, 231);
}

body {
    background-color: rgb(58, 57, 57);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.cardTitle {
    font-family: 'Righteous', cursive;
}

.customNav {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 231, 231);
}

.customCard {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 231, 231);
}

.customSideNav {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 231, 231);
}

.customLink {
    color: rgb(14, 14, 14);
    background-color: rgb(233, 231, 231);
}

.customLink:hover {
    color: rgb(233, 231, 231);
}

.customFooter {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 231, 231);
}

.homeText {
    color: rgb(233, 231, 231) !important;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.footerText {
    font-family: 'Roboto', sans-serif;
}

.footerLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}