p {
    font-family: 'Roboto', sans-serif;
}

h1 {
    font-family: 'Righteous', cursive;
    color: rgb(233, 231, 231);
}

body {
    background-color: rgb(58, 57, 57);
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
  }

.cardTitle {
    font-family: 'Righteous', cursive;
    text-decoration: none !important;
}

.cardTitle:hover {
    text-shadow: 2px 2px #26a69a;
}

.customNav {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 231, 231);
}

.customCard {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 231, 231);
}

.customSideNav {
    background-color: rgb(14, 14, 14);
    color: rgb(233, 231, 231);
}

.customLink {
    color: rgb(14, 14, 14);
    background-color: rgb(233, 231, 231);
}

.customLink:hover {
    color: rgb(233, 231, 231);
}

.customFooter {
    background-color: rgb(10, 10, 10);
    color: rgb(233, 231, 231);
}

.whiteText {
    color: rgb(233, 231, 231) !important;
}

.editBtn {
    display: inline;
    justify-content: end;
}

.newCommentForm {
    background-color:rgb(10, 10, 10) ;
}

.homeText {
    color: rgb(233, 231, 231) !important;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
}

.footerText {
    font-family: 'Roboto', sans-serif;
}

.footerLinks {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    font-family: 'Roboto', sans-serif;
}

.singlePost {
    display: flex;
    flex-flow: column;
    margin-top: 200px;
    border: solid 5px rgb(10, 10, 10);
    justify-content: space-between;
    align-items: space-evenly;
    text-align: center;
    border-radius: 5px;
}

.singlePostHeader {
    background-color: #26a69a !important;
    border-bottom: 5px solid rgb(10, 10, 10);   
    font-family: 'Roboto', sans-serif;
    color: rgb(233, 231, 231);
    font-size: 20px;
}

.singlePostHeader h4 {
    font-family: 'Righteous', cursive;
    color:rgb(233, 231, 231);
    font-size: 40px;
}

.singlePostBody {
    background-color: rgb(233, 231, 231);
    margin: 0 !important;
    border-bottom: 3px solid rgb(10, 10, 10);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.singlePostComment {
    background-color: rgb(233, 231, 231);
    margin: 0 !important;
    border-bottom: 3px solid rgb(10, 10, 10);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}